body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}